body {
	background-color: rgba(173, 216, 230, 0.3);
}

#container {
	border: 2px solid blue;
	width: 70%;
	margin: 0 auto;
	background-color: #c1c8e4;
}

header {
	width: 100%;
	height: auto;
	border-bottom: 5px solid blue;
	overflow: hidden;
}

#logo {
	float: left;
	color: #5680e9;
	padding: 1.5em;
	font-weight: 500;
	font-family: Helvetica, sans-serif;
	font-size: 1.3em;
}

#logo h1{
	text-shadow: 0.2em 0.2em 0 #f1f1f1;

}

header nav {
	float: right;
}

header nav ul {
	list-style: none;
}

ul li {
	display: inline-block;
	text-decoration: none;
	padding: 0.5em;
	border-radius: 5px;
}

a {
	text-decoration: none;
	padding: 10px;
	border-radius: 5px;
	color: #fff;
}

#cel {
	background-color: #8860d0;
}

#fah {
	background-color: #5680e9;
	margin-right: 20px;
    margin-left: 5px;
}

section {
	clear: both;
}

#display {
	margin: 0 auto;
	text-align: center;
	color: #000;
}

#icon {
	font-size: 1.5em;
}

section h1 {
	text-align: center;
	color: #009688;
	font-size: 2em;
	font-family: 'Roboto Slab', serif;
	
}	

footer {
	font-size: 0.8em;
	text-align: center;
	margin: 10px;
	color: #fff;
}