body {
	background-color: rgba(173, 216, 230, 0.3);
}

#container {
	border: 2px solid blue;
	width: 70%;
	margin: 0 auto;
}

header {
	width: 100%;
	height: auto;
	border-bottom: 2px solid blue;
	overflow: hidden;
}

#logo {
	float: left;
	color: darkblue;
	padding: 1.5em;
}

header nav {
	float: right;
}

header nav ul {
	list-style: none;
}

ul li {
	display: inline-block;
	text-decoration: none;
	padding: 0.3em;
}

a {
	text-decoration: none;
	padding: 10px;
	background-color: pink;
	border-radius: 5px;
}

section {
	clear: both;
}

#display {
	margin: 0 auto;
	text-align: center;
}

h1 {
	text-align: center;
	color: orange;
}

footer {
	text-align: center;
}